div.writing {
  background-image: url(image/xtina.jpg);
  background-repeat: no-repeat;
  height: 600px;
  width: 499px;

}
p {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: white;
  text-shadow: 4px 4px #000000;
  text-align: center;
  padding-top: 530px;
}
